.flex-container {
    display: flex;
    flex-wrap:wrap;
}

.flex-item {
    margin-left:15px;
    margin-bottom: -15px;
    width: 500px;
    overflow: hidden;
}

.custom-header {
    border-bottom: 4px solid;
    padding-bottom: 2px;
    border-color: #eeeeee;
}

.link {
    cursor:pointer;
    text-decoration:underline;
}

.link:hover {
    color:#555555;
    text-decoration:underline;
}